$color-blue-btn: #71AFD0;
$color-orange-main: #ED6038;
$color-background: #E3EFF6;

@mixin flex-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
@mixin page-container {
  height: 100vh;
  display: grid;
  grid-template-areas:
  'header'
  'body';
  grid-template-rows: 15% 85%;
  grid-template-columns: 100%;
  align-items: center;
  background: $color-background;
}
